{{>layout-main-open}}
     <div class='row register-song'>
          {{> react-guided-nav-review}}
          {{> song-entry-container-open}}

          <div data-react='song-review'></div>

          {{> song-entry-container-close}}
     </div>
{{>layout-main-close}}
