{{> header}}
     {{> nav}}
     <div class="row register-song">
          {{> guided-nav}}
          {{> song-entry-container-open}}
          	<h3><i class="fa fa-list-alt"></i>Almost done!  Review and register the song.</h3>
               <p>To make sure the information you're about to provide is accurate, please take a close look at the details of your song.  When you are sure everything looks okay, go ahead and select <strong>Register Song</strong>.</p>

               <div class="song-entry-form">
                    <form>
                         <fieldset>
                              <legend>Catalog</legend>
                              <label>Catalog Name</label> 
                              <span>Phil Brown Music</span>
                              <a class="edit" href="/">Edit catalog</a>
                         </fieldset>
                         <fieldset>
                              <legend>Song Details</legend>
                              <label>Song title</label> Phil's New Song
                              <label>Copyright year</label> 1999
                              <label>Songwriters</label> Phil Brown
                              <a class="edit" href="/song-details">Edit song details</a>
                         </fieldset>
                         <fieldset>
                              <legend>Song Lyrics</legend>
                              <label>Song language</label> English
                              <label>Lyrics</label>
                              <p>Here are the song lyrics</p>
                              <a class="edit" href="/lyrics">Edit song lyrics</a>
                         </fieldset>
                    </form>
               </div>

               <div class="song-entry-actions">
                    <a class="secondary-action">Save &amp; Exit</a>
                    <a class="secondary-action" href="/lyrics">Go back</a>
                    <a class="button" href="/done">Save &amp; Continue</a>
               </div>
          {{> song-entry-container-close}}
     </div>
     {{> footer}}
{{> footing}}