{{! states: active item, completed item, previous items enabled, future items disabled, future items enabled}}

<div class="medium-3 columns guided-nav">
<h3>Register a song</h3>
<ul>
	<li><a class="active"><i class="fa fa-circle"></i>Select a catalog</a></li>
	<li><a class=""><i class="fa fa-circle-o"></i>Enter song details</a></li>
	<li><a class="disabled"><i class="fa fa-check-circle-o"></i>Enter lyrics</a></li>
	<li><a class="disabled"><i class="fa fa-circle-o"></i>Review &amp; submit</a></li>
	<li><a class="disabled"><i class="fa fa-circle-o"></i>Done</a></li>
</ul>
</div>
