{{! states: active item, completed item, previous items enabled, future items disabled, future items enabled}}

<div class="medium-3 columns guided-nav">
<h3>Register a song</h3>
<ul>
	<li><a href="/song-entry" {{>completed-nav-link}}</i>Select a catalog</a></li>
	<li><a href="/song-entry/song-details" {{>completed-nav-link}}</i>Enter song details</a></li>
	<li><a href="/song-entry/lyrics" {{>completed-nav-link}}</i>Enter lyrics</a></li>
	<li><a {{>active-nav-link}}</i>Review &amp; submit</a></li>
	<li><a {{>disabled-nav-link}}</i>Done</a></li>
</ul>
</div>
