{{>layout-main-open}}
     <div class="row register-song">
          {{> react-guided-nav-details}}
          {{> song-entry-container-open}}

            <div data-react='song-details'></div>

          {{> song-entry-container-close}}
     </div>
{{>layout-main-close}}
