// CCLI color vars
@import 'components/colors';

// Jquery-UI
@import 'vendor/jquery-ui/jquery-ui.scss';

// Foundation

// @import '/vendor/foundation/scss/normalize.scss';
// @import '/vendor/foundation/scss/foundation/_functions.scss';
// @import '/vendor/foundation/scss/foundation/_settings.scss';


$foundation-path: 'vendor/foundation/scss/foundation';

@import 'foundation-custom-settings';

@import 'vendor/foundation/scss/foundation/components/grid';
@import 'vendor/foundation/scss/foundation/components/accordion';
@import 'vendor/foundation/scss/foundation/components/alert-boxes';
@import 'vendor/foundation/scss/foundation/components/block-grid';
@import 'vendor/foundation/scss/foundation/components/breadcrumbs';
@import 'vendor/foundation/scss/foundation/components/button-groups';
@import 'vendor/foundation/scss/foundation/components/buttons';
@import 'vendor/foundation/scss/foundation/components/clearing';
@import 'vendor/foundation/scss/foundation/components/dropdown';
@import 'vendor/foundation/scss/foundation/components/dropdown-buttons';
@import 'vendor/foundation/scss/foundation/components/flex-video';
@import 'vendor/foundation/scss/foundation/components/forms';
@import 'vendor/foundation/scss/foundation/components/icon-bar';
@import 'vendor/foundation/scss/foundation/components/inline-lists';
@import 'vendor/foundation/scss/foundation/components/joyride';
@import 'vendor/foundation/scss/foundation/components/keystrokes';
@import 'vendor/foundation/scss/foundation/components/labels';
@import 'vendor/foundation/scss/foundation/components/magellan';
@import 'vendor/foundation/scss/foundation/components/orbit';
@import 'vendor/foundation/scss/foundation/components/pagination';
@import 'vendor/foundation/scss/foundation/components/panels';
@import 'vendor/foundation/scss/foundation/components/pricing-tables';
@import 'vendor/foundation/scss/foundation/components/progress-bars';
@import 'vendor/foundation/scss/foundation/components/range-slider';
@import 'vendor/foundation/scss/foundation/components/reveal';
@import 'vendor/foundation/scss/foundation/components/side-nav';
@import 'vendor/foundation/scss/foundation/components/split-buttons';
@import 'vendor/foundation/scss/foundation/components/sub-nav';
@import 'vendor/foundation/scss/foundation/components/switches';
@import 'vendor/foundation/scss/foundation/components/tables';
@import 'vendor/foundation/scss/foundation/components/tabs';
@import 'vendor/foundation/scss/foundation/components/thumbs';
@import 'vendor/foundation/scss/foundation/components/tooltips';
@import 'vendor/foundation/scss/foundation/components/top-bar';
@import 'vendor/foundation/scss/foundation/components/type';
@import 'vendor/foundation/scss/foundation/components/offcanvas';
@import 'vendor/foundation/scss/foundation/components/visibility';

//@import 'vendor/foundation/scss/foundation';

// Ionicons
$ionicons-font-path: '/assets/fonts/ionicons';
@import 'vendor/Ionicons/scss/ionicons';

// Font Awesome
$fa-font-path: '/assets/fonts/font-awesome';
@import 'vendor/font-awesome/scss/font-awesome.scss';

// Webicons
$webicons-url: '/assets/fonts/webicons/';
@import 'vendor/webicons/webicons.scss';

// Bourbon
@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss';

// Toastr
@import '../../node_modules/toastr//toastr.scss';

// Custom
// @import 'flex';
// @import 'helpers';
// @import 'page/nav';
// @import 'page/footing';
// @import 'page/banner';
// @import 'page/landing';
// @import 'page/menu';
@import 'components/colors';
@import 'components/typography';
@import 'components/nav';
@import 'components/register-song';
@import 'components/guided-nav';
@import 'components/right-nav';
@import 'components/left-nav';
@import 'components/search-nav';
@import 'components/pagination';
@import 'components/song-entry-container';
@import 'components/song-contributors';
@import 'components/icon-helpers';
@import 'components/input-helpers';
@import 'components/modals';
@import 'components/main';
@import 'components/alert-box';
@import 'components/song-lyrics';
@import 'components/loading';

/*input.input-alert {
  background-color: lighten($orange2, 45%);
}*/

.custom-alert {
  background-color: lighten($gray3, 10%) !important;
  color: $gray6 !important;
  font-weight: bold !important;
  font-size: 0.8rem !important;
  border-color: $gray4 !important;
}

.input-subtext {
  padding-left: 0.5rem;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  color: $gray4 !important;
}

.subtle-text {
  color: $gray4 !important;
}

.plain-icon {
  color: $black;
}

.whats-this {
  padding-bottom: 0.5rem;
  font-size: 0.85rem;
  text-decoration: underline;
}

.vertical-align-top {
  vertical-align: text-top;
}

.edit-button {
  background-color: darken($orange2, 5%);
}

.edit-button:hover {
  background-color: $orange2;
}
