{{> header}}
     {{> nav}}
     <div class="row register-song">
          {{> guided-nav}}
          {{> song-entry-container-open}}
	         <h3><i class="fa fa-file-text"></i>Enter the lyrics for <em>Phil's New Song</em>.</h3>
               <p>Go ahead and enter the words to the song.  When you are finished, select <strong>Mark lyrics as completed</strong> to continue.</p>

               <div class="song-entry-form">
                    <form>
                         <div class="row">
                              <div class="large-6 columns">
                                   <label>Select the song language
                                        <select>
                                             <option value="afrikaans">Afrikaans</option>
                                             <option value="english" selected>English</option>
                                             <option value="german">German</option>
                                             <option value="korean">Korean</option>
                                        </select>
                                   </label>
                              </div>
                         </div>
                    </form>
                    <div class="song-lyrics">
                      	<h4>Enter the song lyrics here</h4>
                      	<textarea rows="10"></textarea>
                      	<input id="checkbox1" type="checkbox"><label for="checkbox1">Mark lyrics as completed</label>
                    </div>
               </div>

               <div class="song-entry-actions">
                    <a class="secondary-action">Save &amp; Exit</a>
                    <a class="secondary-action" href="/song-details">Go back</a>
                    <a class="button" href="/review">Save &amp; Continue</a>
               </div>
          {{> song-entry-container-close}}
     </div>
     {{> footer}}
{{> footing}}