    <script>
      window.project = {
        context: JSON.parse(unescape('{{{json frontendContext}}}'))
      };
    </script>
    <script src="/assets/js/index{{config.VERSION}}.js"></script>
    <script type="text/javascript">/* eslint-disable no-trailing-spaces, eol-last */
      function downloadJSAtOnload () {
        var element = document.createElement('script');
        element.src = '/assets/js/defer{{config.VERSION}}.js';
        document.body.appendChild(element);
      }
      if (window.addEventListener) {
        window.addEventListener('load', downloadJSAtOnload, false);
      } else if (window.attachEvent) {
        window.attachEvent('onload', downloadJSAtOnload);
      } else {
        window.onload = downloadJSAtOnload;
      }
    /* eslint-enable */
    </script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
