<!DOCTYPE html>
<html>
  <head>
    <title>Prototype</title>

    <!-- meta -->
    <meta
      content=""
      name="description"
      >
    <meta
      content=""
      name="keywords"
      >
    <meta
      content=""
      name="author"
      >
    <meta charset="utf-8">
    <meta
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"
      name="viewport"
      >
    <meta
      content="IE=edge"
      http-equiv="X-UA-Compatible"
      >

    <!-- seo -->
    <link
      rel="canonical"
      href=""
      >

    <!-- manifest -->
<!--     <link
      href="/manifest.json"
      rel="manifest"
      > -->

    {{>favicon}}

    <!-- css -->

    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600"
      rel="stylesheet"
      type="text/css"
      >

    <link
      href='https://fonts.googleapis.com/css?family=Indie+Flower'
      rel='stylesheet'
      type='text/css'
      >

    <link
      href="/assets/css/index{{config.VERSION}}.css"
      rel="stylesheet"
      type="text/css"
      >

  </head>
  <body id="{{id}}">

