{{> layout-main-open}}
<div class="row expanded collapse">
  {{> org-heading}}
  <div class="large-2 columns">
  {{> left-nav}}
  </div>
  <div class="large-10 columns">
    <div class="container">
      <div class="container-header">
        <h2>Intellectual Property</h2>
        {{> territory-dropdown}}
        {{> search-nav-register}}
      </div>
      <div class="container-body">