<div class="left-nav">
  <ul>
    <li><a href="/" data-nav="home"><i class="fa fa-building"></i>Organization</a></li>
    <li><a href="agreements.html" data-nav="agreements"><i class="fa fa-file-text-o"></i>Agreements</a></li>
    <li><a href="earnings.html" data-nav="earnings"><i class="fa fa-money"></i>Payment Settings</a></li>
    <li><a href="payout.html" data-nav="payout"><i class="fa fa-files-o"></i>Payout Documents</a></li>
    <li><a href="download.html" data-nav="download"><i class="fa fa-download"></i>Downloads</a></li>
    <li><a href="intelprop.html" data-nav="intelprop" class="active"><i class="fa fa-music"></i>Intellectual Property</a></li>
  </ul>
</div>