<div data-sticky-container class="sticky one-edge-shadow">
  <nav class="top-bar one-edge-shadow" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">IPP Prototypes</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="/"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
   
      <ul class="right nav-links">
         {{> dev-buttons}}
      </ul>
    </section>
  </nav>
</div>
