{{>layout-ip-open}}
	<div class="row">
		<div class="medium-6 columns">
			<h3>Ready to register songs?</h3>
			<p>Before you get started, please be aware that this process only covers songs that:</p>
			<ul>
				<li>Are owned 100% in one catalog</li>
				<li>Are owned for the whole world</li>
				<li>Are original works</li>
				<li>Have lyrics</li>
			</ul>
			<p>If you want to register songs that don't fall within these parameters, feel free to contact us directly.</p>
			<!--<div>
				<input id="checkbox1" type="checkbox" checked><label for="checkbox1"> I've read this and understand...</label>
			</div>-->
			<a class="button" href="/song-entry">Start registering songs</a>
		</div>
		<div class="medium-6 columns">
			<div class="panel">
				<h3>Recent Songs</h3>
				<!--If there are no songs to show, display the following-->
				<!--<p>There are no recent songs to show.</p>
				<p>To get started, select the <strong>Start registering songs</strong> button.</p>-->
				<!--Else, do the following-->
				<table width="100%">
					<thead>
						<th>Song Title</th>
						<th>Song Number</th>
						<th>Status</th>
					</thead>
					<tr>
						<td>Song Title One</td>
						<td></td>
						<td><a href="/song-entry">In progress</a></td>
					</tr>
					<tr>
						<td>Song Title Two</td>
						<td>Pending</td>
						<td><a data-reveal-id="songInReview"><i class="fa fa-exclamation-triangle"></i> In review</a></td>
					</tr>
					<tr>
						<td>Song Title Three</td>
						<td>12345678</td>
						<td><a href="/song-entry/done"><i class="fa fa-check"></i> Registered</a></td>
					</tr>
					<tr>
						<td>Song Title Four</td>
						<td>12345679</td>
						<td><a href="/song-entry/done"><i class="fa fa-check"></i> Registered</a></td>
					</tr>
					<tr>
						<td>Song Title Five</td>
						<td></td>
						<td><a data-reveal-id="songUnableToProcess"><i class="fa fa-ban"></i> Unable to process</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

{{>layout-ip-close}}
