{{>layout-main-open}}
    <div class="row register-song">
      <h1>Welcome to the IPP Prototyping page</h1>
      <h3>Current prototypes:</h3>
      <ul>
        <li><a href="/song-entry">Song Entry</a></li>
        <li><a href="/song-entry/song-entry-overview">Song Registry Overview / Recent Songs</a></li>
      </ul>
    </div>
{{>layout-main-close}}
