{{> header}}
     {{> nav}}
     <div class="row register-song">
          {{> guided-nav}}
          {{> song-entry-container-open}}
                <h3><i class="fa fa-music"></i>Add a new song to the <em>Phil Brown Music</em> catalog.</h3>
                <p>Enter the song title, copyright date, and songwriter information below.</p>
                <div class="song-entry-form">
                  <form>
                    <div class="row">
                      <div class="large-6 columns">
                        <label>Song title
                          <input type="text" placeholder="Enter the song title" />
                        </label>
                      </div>
                      <div class="large-3 columns end">
                        <label>Copyright year
                          <input type="text" maxlength="4" placeholder="Ex. 1999" />
                        </label>
                      </div>
                    </div>
                  <div class="row">
                    <div class="large-6 columns">
                      <label>Songwriter
                        <input type="text" placeholder="Enter songwriter's first and last name" />
                      </label>
                      <a href="#">Add another songwriter</a>
                    </div>
                    <div class="large-6 columns">
                      <label>Songwriter's contribution</label>
                      <input id="checkbox1" type="checkbox" checked><label for="checkbox1">Wrote the words</label>
                      <input id="checkbox2" type="checkbox" checked><label for="checkbox2">Composed the music</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="song-entry-actions">
                <a class="secondary-action">Save &amp; Exit</a>
                <a class="secondary-action" href="/">Go Back</a>
                <a class="button" href="/lyrics">Save &amp; Continue</a>
              </div>
          {{> song-entry-container-close}}
     </div>
     {{> footer}}
{{> footing}}