{{>layout-main-open}}
     <div class='row register-song'>
          {{> react-guided-nav-done}}
          {{> song-entry-container-open}}

          <div data-react="song-done"></div>

          {{> song-entry-container-close}}
     </div>
{{>layout-main-close}}