{{>layout-main-open}}
	<div class="row register-song">
		{{>react-guided-nav-catalog}}
		{{>song-entry-container-open}}

		    <div data-react="register"></div>

		{{>song-entry-container-close}}
{{>layout-main-close}}
