<button id="clean-state" class="btn alert tiny">clean state</button>
<button id="clean-catalogs" class="btn warning tiny">clean catalogs</button>
<button id="clean-added-songwriters" class="btn warning tiny">clean added songwriters</button>
<button id="clean-available-songwriters" class="btn warning tiny">clean available songwriters</button>
<button id="add-available-songwriters" class="btn info tiny">add available songwriters</button>
<button id="loading" class="btn info tiny">loading: asynchronous</button>



