<div class="reveal-modal" id="contactInfo" data-reveal aria-labelledby="Administrator Contact Info" aria-hidden="true" role="dialog">
	<div class="modal-heading"><h1>Administrator Contact Info</h1></div>
	<div class="modal-body">
		<h2>Integrity Music</h2>
		<ul>
			<li>Phone: (+44) 01323 437700</li>
			<li>Email: <a>songs@integritymusic.com</a></li>
			<li>Website: <a href="http://www.integritymusic.com" target="_blank">Integrity Music</a></li>
		</ul>
	</div>
	<div class="modal-submit">
		<button class="close-reveal-modal button apply" data-close aria-label="Close reveal">Close</button>
	</div>
	<button class="close-reveal-modal " data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="reveal-modal" id="contactInfo2"  data-reveal aria-labelledby="Administrator Contact Info" aria-hidden="true" role="dialog">
	<div class="modal-heading"><h1>Administrator Contact Info</h1></div>
	<div class="modal-body">
		<h2>HTMR Limited</h2>
		<ul>
			<li>Email: <a>publishinguk@hillsong.com</a></li>
		</ul>
	</div>
	<div class="modal-submit">
		<button class="close-reveal-modal button apply" data-close aria-label="Close reveal">Close</button>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="reveal-modal small" id="songInReview"  data-reveal aria-labelledby="Song is in review" aria-hidden="true" role="dialog">
	<div class="modal-heading"><h1>This song is currently in review.</h1></div>
	<div class="modal-body">
		<p>Some text explaining what this means and what they should expect.</p>
	</div>
	<div class="modal-submit">
		<button class="close-reveal-modal button apply" data-close aria-label="Close reveal">Close</button>
	</div>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div class="reveal-modal small" id="songUnableToProcess"  data-reveal aria-labelledby="Unable to register song" aria-hidden="true" role="dialog">
	<div class="modal-heading"><h1>We were not able to register this song.</h1></div>
	<div class="modal-body">
		<p>Some text explaining the reasons why the song was not accepted.</p>
	</div>
	<div class="modal-submit">
		<button class="close-reveal-modal button apply" data-close aria-label="Close reveal">Close</button>
	</div>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div class="reveal-modal tiny" id="deleteLyricPart" data-reveal aria-labelledby="Delete lyric part" aria-hidden="true" role="dialog">
	<div class="modal-body">
		<p class="lead">Are you sure you want to delete this lyric part?</p>
	</div>
	<div class="modal-submit">
		<a class="close-reveal-modal secondary-action">Cancel</a>
		<button class="close-reveal-modal button apply" data-close aria-label="Close reveal">Delete</button>
	</div>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
