<div class="narrow-results">
  <h3 class="narrow-results-heading">Narrow Your Results</h3>
  <div class="facets">
    <div class="facet-list">
      <h4>Catalogs</h4>
      <ul>
        {{#each catalogs2}}
        <li><a href="catalog.html">{{this.title}}</a> ({{this.number}})</li>
        {{/each}}
      </ul>
      <a><i class="fa fa-plus-square-o"></i> See more catalogs</a>
    </div>
    <div class="facet-list">
      <h4>Administrators</h4>
      <ul>
        {{#each administrators2}}
        <li><a href="">{{this.title}}</a> ({{this.number}})</li>
        {{/each}}
      </ul>
      <a><i class="fa fa-plus-square-o"></i> See more administrators</a>
    </div>
    <div class="facet-list">
      <h4>Contributors</h4>
      <ul>
        {{#each contributors2}}
        <li><a href="">{{this.name}}</a> ({{this.number}})</li>
        {{/each}}
      </ul>
      <a><i class="fa fa-plus-square-o"></i> See more contributors</a>
    </div>
  </div>
</div>