<div class="search-group">
  <div class="search-bar">
    <form id="search" action="search-results-catalogs.html" method="" role="search">
      <label for="search-songs">Search for a catalog
        <input type="search" id="search-songs" placeholder="Enter a catalog title">
      </label>
      <div class="search-submit">
        <button type="submit"><i class="ss-search"></i> <span class="show-for-medium">Search</span></button>
      </div>
    </form>
    <p class="search-help">This searches for a specific catalog in your list.</p>
  </div>
</div>