<div class="row collapse search-group">
  <div class="search-bar">
    <form id="search" action="search-results.html" method="" role="search">
      <label for="search-songs">Search for a song
        <input type="search" id="search-songs" placeholder="Enter a song title, catalog, contributor, or CCLI Song ID">
      </label>
      <div class="search-submit">
        <button type="submit"><i class="ss-search"></i> <span class="show-for-medium">Search</span></button>
      </div>
    </form>
    <p class="search-help">This searches the entire CCLI database of over 300,000 songs.</p>
  </div>
  <!--<div class="search-loading">
    <img src="assets/img/ccli-mark.png"> 
    <p>Searching our database of over 300k songs...</p>
  </div>-->
</div>

