<div class="row expanded collapse">
  {{> org-heading}}
  <div class="large-2 columns">
  {{> left-nav}}
  </div>
  <div class="large-10 columns">
    <div class="container">
      <div class="container-header">
        <h2>Intellectual Property</h2>
        <ul class="search-nav">
          <li class="active">Search all songs</li>
          <li><a href="catalogs.html">View your catalogs</a></li>
        </ul>
      </div>
      <div class="container-body">
        {{> search-group}}
        <div class="row search-results">
          <div class="large-2 columns">
            <h3>Narrow Your Results</h3>
            <div class="facet">
              <h4>Catalogs</h4>
              <ul>
                {{#each catalogs}}
                <li><a href="catalog.html">{{this.title}}</a> ({{this.number}})</li>
                {{/each}}
              </ul>
              <a><i class="fa fa-plus-square-o"></i> See more catalogs</a>
            </div>
            <div class="facet">
              <h4>Administrators</h4>
              <ul>
                {{#each administrators}}
                <li><a href="">{{this.title}}</a> ({{this.number}})</li>
                {{/each}}
              </ul>
              <a><i class="fa fa-plus-square-o"></i> See more administrators</a>
            </div>
            <div class="facet">
              <h4>Contributors</h4>
              <ul>
                {{#each contributors}}
                <li><a href="">{{this.name}}</a> ({{this.number}})</li>
                {{/each}}
              </ul>
              <a><i class="fa fa-plus-square-o"></i> See more contributors</a>
            </div>
          </div>
          <div class="large-10 columns">
            <div class="search-results-heading">
              <h3>There are 28,894 results for 'holy spirit'</h3>

            </div>
            <div class="list-controls">

              <p>Page 1 of 1445</p>

              <select>
                <option>25 / page </option>
                <option>100 / page </option>
                <option>Show all </option>
              </select>

              <ul class="list-pagination" role="navigation" aria-label="Pagination">
                <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                <li class="prev disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                <li><a href="#" aria-label="Page 2">2</a></li>
                <li class="next"><a href="#" aria-label="Next page"><i class="fa fa-angle-right"></i></a></li>
                <li class="last-page"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div>

            <table>
              <thead>
                <tr>
                  <th width="25%">Song Title</th>
                  <th width="25%">Contributors</th>
                  <th width="35%">Catalogs</th>
                  <th width="15%">CCLI Song ID</th>
                </tr>
              </thead>
              <tbody>
                {{#each holy-spirit}}
                <tr>
                  <td><a class="title" href="song-detail.html">{{this.title}}</a></td>
                  <td>{{#each this.authors}}<a class="links" href="contributor.html">{{this}}</a>{{/each}}</td>
                  <td>
                    {{#each this.catalogs}}
                      <a class="links" href="#"><span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Admin by Capitol CMG Publishing">{{this.name}} ({{this.percentage}})</span></a>
                    {{/each}}
                  </td>
                  <td>{{this.songID}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>

            <div class="list-controls">

              <p>1 of 1445</p>

              <select>
                <option>25 / page </option>
                <option>100 / page </option>
                <option>Show all </option>
              </select>

              <ul class="list-pagination" role="navigation" aria-label="Pagination">
                <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                <li class="prev disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                <li><a href="#" aria-label="Page 2">2</a></li>
                <li class="next"><a href="#" aria-label="Next page"><i class="fa fa-angle-right"></i></a></li>
                <li class="last-page"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>