<div class="territory-dropdown">
  <form>
    <label for="territory-selector">Choose territory
      <select id="territory-selector">
        <option>United States</option>
        <option>United Kingdom</option>
      </select>
    </label>
  </form>
</div>