{{>layout-main-open}}
     <div class='row register-song'>
          {{> react-guided-nav-lyrics}}
          {{> song-entry-container-open}}

            <div data-react='song-lyrics'></div>

          {{> song-entry-container-close}}
     </div>
{{>layout-main-close}}
