{{> header}}
     {{> nav}}
     <div class="row register-song">
          {{> guided-nav}}
          {{> song-entry-container-open}}
               <h3><i class="fa fa-check"></i>The song was registered successfully!</h3>
               <p>We've processed your song and everything looks good!  You may want to take note of the details below by printing this page.  We've also emailed a copy of this to philbrownatphilbrownmusic.com</p>

               <div class="song-entry-form">
                    <p class="song-number"><strong>CCLI Song Number</strong> 12345678</p>
                    <form>
                         <fieldset>
                              <legend>Catalog</legend>
                              <label>Catalog Name</label> Phil Brown Music
                         </fieldset>
                         <fieldset>
                              <legend>Song Details</legend>
                              <label>Song title</label> Phil's New Song
                              <label>Copyright year</label> 1999
                              <label>Songwriters</label> Phil Brown
                         </fieldset>
                         <fieldset>
                              <legend>Song Lyrics</legend>
                              <label>Song language</label> English
                              <label>Lyrics</label>
                              <p>Here are the song lyrics</p>
                         </fieldset>
                    </form>
               </div>

               <div class="song-entry-actions">
                    <a class="secondary-action"><i class="fa fa-print"></i>Print this page</a>
                    <a class="button">Close</a>
               </div>
          {{> song-entry-container-close}}
     </div>
     {{> footer}}
{{> footing}}