@mixin custom-alert($color) {
  color: $color !important;
  font-size: 1.6rem !important;
  padding: 0.5rem;
  @include transition(background-color 0.5s ease);
  &:hover {
    background-color: darken($color, 5%) !important;
    cursor: pointer;
  }
}

.custom-alert {
  @include custom-alert($gray2);
}
