// Primary Colors
$blue: #00a3e0; // CCLI BLUE | RGB 0 / 163 / 224
$black: #2c2a29; // CCLI BLACK | RGB 41 / 42 / 44

//Secondary Colors

$blue1: #004b87; // CCLI BLUE 1 | RGB 0 / 75 / 135
$blue2: #003b5c; // CCLI BLUE 2 | RGB 0 / 59/ 92
$blue3: #002a3a; // CCLI BLUE 3 | RGB 0 / 42 / 58

$green1: #6bcaba; // CCLI GREEN 1 | RGB 107 / 202 / 186
$green2: #00816d; // CCLI GREEN 2 | RGB 0 / 129 / 109

$white: #fefefe;
$gray: #eeeeee;
$gray1: #d9d9d9; // CCLI GRAY 01 | RGB 217 / 217 / 217
$gray2: #c8c8c8; // CCLI GRAY 03 | RGB 200 / 200 / 200
$gray3: #b1b3b3; // CCLI GRAY 05 | RGB 177 / 179 / 179
$gray4: #97999b; // CCLI GRAY 07 | RGB 151 / 153 / 155
$gray5: #75787b; // CCLI GRAY 09 | RGB 117 / 120 / 123
$gray6: #53565a; // CCLI GRAY 11 | RGB 83 / 86 / 90


//Tertiary Colors

$red1: #ce0037; // CCLI RED 1 | RGB 206 / 0 / 55
$red2: #a50034; // CCLI RED 2 | RGB 165 / 0 / 52
$orange1: #ffbf3f; // CCLI ORANGE 1 | RGB 255 / 191 / 63
$orange2: #ffa300; // CCLI ORANGE 2 | RGB 255 / 163 / 0