.guided-nav {
	border: 1px solid $gray;
	flex: 1 20%;

	h3 {
		font-size: 1.5em;
		padding: .5em 1em .5em;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {

			a {
				border-bottom: 1px solid $gray;
				color: $black;
				display: flex;
				padding: 1em;

				&:hover {
					background: $white;
				}

				&.active {
					background: lighten($gray1, 10%);
					color: $black;
					cursor: default;
					font-weight: bold;

					&:hover {
						background: lighten($green1, 30%);
					}

					i {
						color: $green1;
					}
				}

				&.complete {
					i {
						color: $green1;
					}

				}

				&.disabled {
					color: $gray2;
					cursor: default;

					&:hover {
						background: transparent;
					}
				}

				i {
					font-size: 1.5em;
				}
			}
		}
	}
}