  @mixin icon-helper($color) {
    color: $color;
    font-size: 1.25rem;
    &:hover {
      color: darken($color, 8%);
      cursor: pointer;
    }
  }

.remove-icon {
  @include icon-helper($red1);
}

.edit-icon {
  @include icon-helper($blue1);
}

.save-icon {
  @include icon-helper($green2);
  font-size: 1rem;
}

.hover-pointer:hover {
  cursor: pointer;
}
