.songwriter-success {
  /*border-color: green !important;*/
  background-color: lighten($success-color, 47%) !important;
}

.songwriter-not-found {
  background-color: lighten($alert-color, 42%) !important;
}