.left-nav {

	ul {
		padding: 0;
		margin: 1rem 0 0;
	}

	li {
		list-style-type: none;

		a {
			position: relative;
			display: block;
			padding: .5rem 0;
			font-size: .9rem;
			border-bottom: 1px solid $gray;
		}

		a.active {
			color: $black;

			&::after {
				font-family: "ccli";
				position: absolute;
				top: 12px;
				right: 0;
				padding-left: 10px;
				text-align: right;
				font-size: .8rem;
			}
		}

		i {
			padding-right: .5rem;
		}
	}

}