.loading-overlay {
	background: rgba($gray3, .7);
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;

	.loading-wrapper {
		background: rgba($white,.5);
		border-radius: 1rem;
		height: 100px;
		left: 50%;
		margin-top: -50px;
		margin-left: -50px;
		position: absolute;
		top: 50%;
		width: 100px;

		.loading {
			border-radius: 50%;
			display: block;
			height: 50px;
			margin: 25px auto;
			position: relative;
			width: 50px;

			&:after, &:before {
				border-radius: 50%;
				content: '';
				display: block;
			}

			&:after {
				animation: spin 2s ease-in-out infinite;
				border: 5px solid transparent;
				border-top-color: $blue;
				border-bottom-color: $blue;
				height: 50px;
				left: 0;
				opacity: .9;
				position: absolute;
				top: 0;
				width: 50px;

			}
			&:before {
				animation: spinReverse 2s ease-in-out infinite;
				border: 5px solid transparent;
				border-right-color: darken($blue, 20%);
				border-left-color: darken($blue, 20%);
				height: 35px;
				left: 8px;
				opacity: .9;
				position: absolute;
				top: 8px;
				width: 35px;

			}
		}
	}
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(360deg);
    };
}

@keyframes spinReverse {
    0% {
    	transform: rotate(90deg);
    }

    50% {
    	transform: rotate(-360deg);
    }

    100% {
    	transform: rotate(-90deg);
    }
}