.main {
	padding: 1rem;
}

.container {
	padding: 1rem;

	h3 {
		padding-bottom: .75rem;
	}

	.container-header {
		position: relative;
	}

	.container-body {
		border-right: 1px solid $gray1;
		border-bottom: 1px solid $gray1;
		border-left: 1px solid $gray1;
		padding: 1rem;
	}
}

.button {
	background: $blue;
	&:hover {
		background: darken($blue, 5%);
	}
	border-radius: 3px;
	padding: .75rem .85rem;
}