.reveal-modal {
	padding: 0;
	border-radius: $global-radius;
	border: 4px solid white;
	z-index: 9999;
	overflow: hidden;

	button {
		font-size: 1rem;
	}

	.close-reveal-modal {
    	position: absolute;
		color: $gray2;
	    right: 1rem;
	    top: .75rem;
	    font-size: 2em;
	    line-height: 1;
	    cursor: pointer;
	}
}

.reveal-overlay {
	z-index: 9998;
}

.modal-heading {
	padding-bottom: 1rem;
	border: none;
	padding: 0;
	background: $blue1;
	color: $white;

	h1 {
		font-size: 1.125rem;
		color: $white;
		padding: 1rem;
		margin: 0;

		span {
			display: inline-block;
			border: 1px solid darken($blue1, 10%);
			padding: .25rem .45rem;
			border-radius: 2px;
			margin-right: .5rem;
			background: darken($blue1, 10%);
			color: $primary-color;
		}
	}
}

.modal-text {
	background: darken($gray1, 2%);
	padding: 1rem;

	p, p.lead {
		margin-bottom: 0;
	}
}

.modal-body {
	padding: 1rem;

	h2 {
		border-bottom: 1px solid $gray1;
		padding-left: 1.25rem;
	}

	p {
		line-height: 1.2;
		margin-bottom: 0;
	}

	ul {
		list-style-type: none;
		li {
			padding: 0;
		}
		&.example li {
			color: #6f6f6f;
		}
	}
	.help-text {
		color: $red1;
		font-size: .9rem;
		font-style: italic;
	}
}

.modal-submit {
	padding: .5rem .5rem .35rem;
	text-align: right;

	button.apply {
		background: $primary-color;
		color: $white;
		font-size: .875rem;
		border: 1px solid $primary-color;
		border-radius: $global-radius;
		left: auto;
		margin-bottom: 0;
		position: relative;
		top: auto;
		right: 0;
	}
	a.secondary-action {
		color: $primary-color;
		font-size: inherit;
		font-weight: normal;
		padding: 0 2em;
		position: relative;
		right: auto;
		text-decoration: underline;
		top: auto;
	}
}
