.accent {
	height: 5px;
	background: $gray4;
}

.header {
	@include clearfix;
	background: $gray3;
	height: 51px;
	color: white;
	.logo {
		display: inline-block;
		padding-left: 16px;
		line-height: 51px;
		float: left;
		color: white;
		font-size: 1.17325rem;

		a {
			color: white;
		}

		img {
			margin-top: 5px;
			display: inline-block;
			float: left;
			height: 40px;
		}
		span {
			display: inline-block;
			padding-left: 8px;
		} 
	}
	.profile-menu {
		display: inline-block;
		float: right;
		line-height: 51px;
		padding-right: 32px;
		font-size: .875rem;

		.username {
			padding-right: 12px;
		}

		a {
			color: white;
			padding-left: 12px;
			border-left: 1px solid white;
		}
	}
}

.org-heading {
	padding: 1rem 0;
	border-bottom: 1px solid $gray;

	h1 {
		display: inline-block;
		margin: 0;
	}
	nav {
		display: inline-block;
		.top-nav {
			list-style-type: none;
			li {
				display: inline-block;
				margin-right: 1rem;
				&.active a {
					color: $black;
				}
			}
		}
	}
}