.list-controls {
	@include clearfix;
	font-size: .875rem;
	padding: .5rem 0;
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;
	p {
		display: inline-block;
		margin-bottom: 0;
		width: 33%;
	}
	select {
		display: inline-block;
		font-size: .875rem;
		height: 33.19px;
		margin-bottom: 0;
		padding: .5rem .75rem;
		width: 120px;	
	}

	ul.items-per-page {
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 33%;

		li {
			list-style-type: none;
			display: inline-block;
			padding: .35rem .65rem;

			a {
				color: $black;
			}

			&.current {
				background: $blue;
				border-radius: $global-radius;
				color: white;
				&:hover {
					background: $blue;
					cursor: default;
					color: white;
				}
			}
			&:hover {
				background: $gray;
				border-radius: $global-radius;
				color: $blue;
				cursor: pointer;
			}
			&.disabled {
				a {
					color: $gray1;
					cursor: default;
				}
				&:hover {
					background: transparent;
					color: $gray;
					cursor: default;
				}
			}
		}
	}
	ul.list-pagination {
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: right;
		width: 33%;

		li {
			list-style-type: none;
			display: inline-block;
			padding: .35rem .65rem;

			a {
				color: $black;
			}

			&.current {
				background: $blue;
				border-radius: $global-radius;
				color: white;
				&:hover {
					background: $blue;
					cursor: default;
					color: white;
				}
			}
			&:hover {
				background: $gray;
				border-radius: $global-radius;
				color: $blue;
				cursor: pointer;
			}
			&.disabled {
				a {
					color: $gray1;
					cursor: default;
				}
				&:hover {
					background: transparent;
					color: $gray;
					cursor: default;
				}
			}
		}
	}
}