.register-song {
	margin-top: 2em;

	a.button {
		margin: 0;

		&.secondary {
			background: $gray1;
			border: 1px solid $gray2;
		}
	}

	i {
		padding-right: .5em;
	}

	input[type="text"] {
		font-size: 1em;
		&::-webkit-input-placeholder {
			color: $gray2;
		}
	}

	label {
		font-weight: bold;
	}

	select {
		font-size: 1em;
	}
}
