.right-nav {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 220px;
	height: 100%;
	background: $blue3;
	border-left: 5px solid #22303d;
	-ms-transform: translateX(220px);
	-webkit-transform: translateX(220px);
	transform: translateX(220px);
	-ms-transition: -ms-transform .5s;
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;

	.right-nav-heading {
		background: $blue3;
		padding: .75rem;
		color: white;

		a {
			float: right;
			color: white;
		}
	}

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style-type: none;

		a {
			display: block;
			padding: .75rem .75rem .75rem 1.25rem;
			color: white;
			font-size: .9rem;
			border-bottom: 1px solid $blue3;

			&:hover {
				background: $blue;
			}
		}

		i {
			padding-right: .5rem;
		}
	}

}

.opened {
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-ms-transition: -ms-transform .5s;
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
}