.search-nav {
	border-bottom: 1px solid $gray1;
	list-style-type: none;
	margin: 0;
	li {
		display: inline-block;
		margin: 0 1rem -1px 0;
		padding: 1rem;
		&.active {
			border-top: 1px solid $gray1;
			border-right: 1px solid $gray1;
			border-bottom: 1px solid white;
			border-left: 1px solid $gray1; 
		}
		a {
			text-decoration: underline;

		}
	}
}

.breadcrumbs {
	padding: .5rem 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.territory-dropdown {
	bottom: 1rem;
	display: inline-block;
	float: right;
	position: absolute;
	right: 0;
	width: 200px;
	select {
		margin: 0;
	}
}