.search-group {
	@include clearfix;
	padding-bottom: 1rem;
	input, select {
		margin: 0;
	}
	label {
		color: $gray6;
		font-weight: bold;
	}

	p.search-help {
		color: $gray6;
		font-size: .875rem;
		font-style: italic;
		margin-bottom: 0;
	}

	.search-bar {
		position: relative;
		input {
			height: 3.5rem;
			padding-right: 5rem;
			padding-left: 1rem;
		}
		.search-submit {
			position: absolute;
			right: 0;
			top: 25px;
			button {
				background: $blue;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				color: white;
				height: 3.5rem;
				line-height: 1.5rem;
				padding: .75rem 1rem;

			}
		}
	}
}