.song-lyrics {
	margin-bottom: .5rem;
	padding: .5rem;

	p {
		font-size: .75rem;
		margin-bottom: .5rem;
	}

	.lyrics-actions {
		.button {
			font-size: .875rem;
			margin: 0 .5rem .5rem 0;
			padding: .65rem .75rem;
			@media only screen and (min-width: $medium-breakpoint) {
				margin-bottom: 0;
			} 
		}
	}

	.lyrics-container {
		border: 1px solid $gray2;
		margin-bottom: .25rem;
		max-height: 600px;
		min-height: 320px;
		padding: .5rem;

		.lyrics-part {
			font-family: monospace;
			margin: 0 auto;
			max-width: 440px;
			min-height: 125px;
			padding: .75rem;
			position: relative;
			transition: all .25s ease-in-out;


			.lyrics-part-heading {
				font-weight: bold;
				padding: 0 0 .5rem 0;

				a {
					color: darken($gray4, 10%);
					&.delete-part {
						bottom: 15px;
						position: absolute;
						right: 15px;
					}

					&.move-part {
						cursor: move;
						position: absolute;
						right: 15px;
						top: 15px;
					}
					&.select-text {
						position: absolute;
						right: 45px;
						top: 15px;
					}
				}

				i {
					opacity: 0;
					padding: 0;
				}

				.f-dropdown li a {
					padding: .25rem .5rem;
				}

				.lyrics-part-title {
					font-size: 1rem;
					opacity: 1;
				}
			}
			.lyrics-part-container {
				padding: .5rem 0 0 0;
				p {
					cursor: text;
				}
			}

			&:hover {
				background: $white;
				border-radius: 3px;
				-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
				-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
				box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);

				i {
					opacity: 1;
				}
			}
		}

		textarea {
			margin-bottom: .5rem;
		}
	}
}