.song-entry-container {
	border: 1px solid $gray;
	padding: 2em 0.5em;

	.song-entry-form {
		border: 1px solid $gray;
		background: $gray;
		padding: 1em;

		.edit {
			display: block;
			float: right;
		}

		.select-catalog {
			display: none;
			margin-bottom: 1em;
		}

		.catalog-item {
			align-items: baseline;
			border: 1px solid $gray2;
			font-size: 1.125em;
			display: flex;
			padding: .5em;

			input[type="radio"] {
				margin: 0;
			}

			input[type="radio"] + label {
				font-size: 1.125em;
			}

			input[type="radio"]:checked + label {
				&::after {
					color: $green1;
					content: " (Selected!)";
					font-size: .875em;
					padding-left: .5em;
				}
			}
		}

		.song-number {
			font-size: 1.5em;
		}
	}

	.song-entry-actions {
		align-items: baseline;
		display: flex;
		justify-content: flex-end;
		padding: 1em 0 0;

		a.secondary-action {
			padding: 0 2em;
			text-decoration: underline;
		}

		.button.disabled {
			background: $gray1;
		}
	}
}

@media (min-width: 64em) {
	.song-entry-container {
		padding: 2em 3em;
	}
}
