.song-contributors {
  // background-color: lighten($gray1, 9.5%);
}

.song-contributor {
  // border: 1px solid $gray2;
  // margin-top: 0.25rem !important;
  padding: 0;
}

.song-contributor:nth-child(even) {
  // background-color: lighten($gray1, 15.5%);
}

.register-songwriter-form {
  margin-top: 2rem;
}

.form-border-top {
  border-top: 1px solid $gray2;
}
