body {
	color: $black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	color: $blue3;
	font-size: 1.5rem;
}

h2 {
	color: $blue2;
	font-size: 1.3rem;
	padding-bottom: 1rem;
}

h3 {
	color: $blue1;
	font-size: 1.2rem;
	font-weight: bold;
}

h4 {
	color: $gray5;
	font-size: .875rem;
	text-transform: uppercase;
	font-weight: bold;
}

a {
	color: $blue;
	transition: all .25s ease;
	&:hover {
		color: $black;
	}
}

p {
	font-size: .875rem;
}