{{> header}}
  {{> nav}}
  <div class="row register-song">
    {{> songwriter-registry-container-open}}
      <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Register Songwriter</h3>

      <div class="song-entry-form">
        <form class="">
          <div class="row">
            <div class="medium-8 large-6 columns">
              <div class="row collapse">
                <div class="small-10 columns">
                  <label>Name
                    <input type="text" id="catalog-name" placeholder="Songwriter Name">
                      <a class="button success" id="register-songwriter">Register Songwriter</a>
                  </label>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="song-entry-actions">
        <a class="secondary-action">Save &amp; Exit</a>
        <a class="secondary-action">Cancel</a>
        <a class="button" href="/song-details">Save &amp; Continue</a>
      </div>
    {{> songwriter-registry-container-close}}
  </div>
  {{> footing}}
{{> footer}}
