{{> header}}
  {{> nav}}
  <div class="row register-song">
    {{> guided-nav }}
    {{> song-entry-container-open}}
      <h3><i class="fa fa-folder-open"></i>Let's select a catalog for the song.</h3>
      <p>A catalog is like a folder that holds a set of songs.  The catalog name will help us identify and reference the song and will also show up on the song's copyright notice.</p>

      <div class="song-entry-form">
        <h4>Your catalogs</h4>
        <p class="no-catalogs-yet">Since you haven't set up any catalogs yet, so go ahead and add one now.</p>
        <form class="select-catalog">
        </form>
        <form class="add-new-catalog">
          <div class="row">
            <div class="medium-8 large-6 columns">
              <div class="row collapse">
                <div class="small-10 columns">
                  <input type="text" id="catalog-name" placeholder="Enter the catalog name">
                </div>
                <div class="small-2 columns">
                  <a class="button postfix secondary" id="add-catalog">Add</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="song-entry-actions">
        <a class="secondary-action">Save &amp; Exit</a>
        <a class="secondary-action">Cancel</a>
        <a class="button" href="/song-details">Save &amp; Continue</a>
      </div>
    {{> song-entry-container-close}}
  </div>
  {{> footer}}
{{> footing}}
